button {
    color:black;
    background-color: green;
    width: 150px;
    border-radius: 15%;
    margin: 25px;
    height: 100px;
}

a {
    color: white;
    background-color:darkgreen;
}

.red {
    color:aqua;
    background-color: olive;
}

.wrapper {
    background-color: gray;
}

.second-container {
    background-color:darkred;
}